venv/
__pycache__/
.env
*.env

# Игнорируем временные файлы и логи
*.log
*.sqlite3
*.pyc
*.pyo
*.swp
*.swo


# Игнорируем файлы и папки Alembic (кроме миграций)
migrations/versions/*.pyc
migrations/versions/*.pyo

# Игнорируем файлы, связанные с IDE (если используешь PyCharm или VS Code)
.idea/
.vscode/
